# Node modules
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & Cache
*.sqlite
*.sqlite3
dump.rdb
*.pem

# OS-specific files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp

# Build & Dependencies
dist/
coverage/
